@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: transparent;
}

.sideList{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color:#1e90ff	;
}


.nav-links{
    list-style: none;
    position: absolute;
    margin-top: 0%;

} 
.nav-links li{
    padding: 10px 0;
    
}

.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size:22px ;
    margin-right: 20px;

}
.nav-links li:hover a{
    color: #1e90ff	;
    transition: 1.2s;
    width: 100hv;
    border: 4px white solid;
    height: 50px;
    background-color: white;
}
.space{
    height: 150px;
}

.active{
    background: transparent;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 0px;
    box-shadow: 0px 0px;

}
.card {
    background-color: #fff;
    width: 18.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px;
    transition: 0.7s ease;
    margin-left: 40%;
}

.card:hover{
    background-color: #0a49f6;
    transform: scale(1.1);

}
.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h2{
    color: #3a6cf4;
    font-size: 0.2em;
    font-weight: 700;
    margin: 10px;
}
.text{
    font-size: 28pt;
}

.birthday{
    padding: 40px;
}