body{
    background-color: transparent;
    height: 5000px;
}

.sideList{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color:#1e90ff	;
}


.nav-links{
    list-style: none;
    position: absolute;
    margin-top: 0%;

} 
.nav-links li{
    padding: 10px 0;
    
}

.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size:22px ;
    margin-right: 20px;

}
.nav-links li:hover a{
    color: #1e90ff	;
    transition: 1.2s;
    width: 100hv;
    border: 4px white solid;
    height: 50px;
    background-color: white;
}
.space{
    height: 150px;
}

.active{
    background: transparent;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 0px;
    box-shadow: 0px 0px;

}
.places{
    position: relative;
    top: 5%;
    left: 230%;
    
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

  .air{
    height: 10000px;
    border: 1px red solid;
  }